.authorDetailsContainer {
    position: relative;
    width: 65rem;
    max-width: 85vw;
    background: #fff;
    padding: 0 0 2rem 0;
  .authorMetaData {
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: flex-start;
    margin-top: 6rem;
    margin-bottom: .5rem;
    div {
      cursor: pointer;
      h6,
      span {
        color: #7c7878e6;
      }
      h6 {
        font-size: 1.5rem;
      }
    }
  }
 .authorInformation{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    .addPhotoIcon{
      font-size: 1rem;
      cursor: pointer;
    }
    .authorImg {
        width: 100px;
        height: 100px;
        border: 4px solid #fff;
        border-radius: 50%;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.406);
        margin: auto;
      }
      .authorNameEmail {
        text-align: center;
        h4{
            margin-bottom: 0;
        }
        span{
            color: #7c7878e6;
        }
      }
 }

}


@media screen and (min-width:'1024px') {
  .authorDetailsContainer{
   
    padding: 2rem 1.5rem 5rem 1.5rem;
    .authorMetaData{
      margin-top: 0;
      margin-bottom: 0;
      gap: 10px;
    }

    .authorInformation{
      gap: 1rem;
      .addPhotoIcon{
        font-size: 1.5rem;
      }
      .authorImg {
          width: 200px;
          height: 200px;
        }
    }
  }
}
