.createBlogPage {
  padding: .5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
  .slogan {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  @media screen and (min-width: "1024px") {
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    .slogan {
      font-size: 2rem;
    }
    
  }
}
