.authorContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  margin-right: auto;
  .authorImg {
    width: 33px;
    border-radius: 50%;
    // box-shadow: 1px 1px 10px #f9f7f7;
  }
  .author {
    .authorName {
      line-height: 0;
      margin-bottom: 0;
      font-size: 12px;
      & ~ small {
        opacity: 50%;
        text-transform: lowercase;
        font-size: 10px;
      }
    }
  }
}

@media screen and (min-width: "1024px") {
  .authorContainer {
    .authorImg {
      width: 50px;
    }
    .author {
      .authorName {
        font-size: 1rem;
        line-height: 1;
        & ~ small {
          font-size: 12px;
        }
      }
    }
  }
}