.backdrop {
  background-color: #072d0062;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 999999;
  transition: all 0.4s ease;
}

.modalContent{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999999;
  transition: all 0.4s ease;
  background: #fff;
  border-radius: 15px;
  padding: 1.5rem;
  width: 25rem;
  max-width: 96vw;
  .modalHeader{
      border-bottom: .5px solid rgba(158, 156, 156, 0.322);
      margin-bottom: 1rem;
      .modalTitle{
        color: #007bff;
      }
  }
  .modalBody{
    max-height: 70vh;
    overflow-y: scroll;
    border-bottom: .5px solid rgba(158, 156, 156, 0.322);
    margin-bottom: 1rem;
  }
}
