.backdrop {
    background-color: #072d0062;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 999999;
    transition: all 0.4s ease;
  }
  
  .model-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999999;
    transition: all 0.4s ease;
  }