.brandImage {
  width: 50px;
}

.toggler {
  border: none !important;

  &:focus {
    outline: none;
    box-shadow: 1px 1px 20px #3258a8 !important;
  }
}

a{
  color:rgba(124, 120, 120, 0.897)!important;
}

.active {
  color: #007BFF !important;
  background-color: transparent!important;
}



.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #007BFF;
    padding: 2px;
    img{
        border-radius: 50%;
    }
}

.dropdownToggle::before{
      content: none!important;
}


@media screen and(min-width:750px) {
  .brandImage{
    width: 60px;
  }
}