.detailedBlogBody{
    padding: 1rem;
    background: #fff;
    margin-top: 2rem;
    color: rgb(130, 127, 127);
    font-weight: 600;
    @media screen and (min-width:'1024px'){
        padding: 2.5rem;
        font-size: 1.2rem;;
    }
}