.blogs{
    display: grid;
    row-gap: 1rem;
    @media screen and(min-width:'960px'){
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    @media screen and(min-width:'1454px') {
        grid-template-columns: repeat(3, minmax(200px, 430px));
        margin:0 auto;
        justify-content: center;
    }
}