.blogCard{
    color: #fff!important;
    .blogCardImg{
        object-fit: cover;
    }
   .cardOverlayShadow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.377);
    inset: 0 0 0 0;
   }
    .cardUserImg{
        width:30px;
    }
}
