@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(14, 65, 144);
  background: linear-gradient(
    89deg,
    rgba(14, 65, 144, 1) 0%,
    rgba(173, 156, 171, 1) 100%
  );
}
